.container {
    display: flex;
    justify-content: center;
    width: 72vw;
    height: 50px;
    margin: 0 auto;
    padding-top: 200px;
}

.texto{
    height: 56px;
    flex-grow: 1;
}

.buscador{
    font-family: Cousine;
    background-color: #74b9ff;
    color: white;
    font-size: 20px;
    padding: 20px 45px 40px 45px;
}

